body {
    margin: 0;
    padding: 0;
}

/*Contenido central*/
 .container {
    display: grid;
    grid-template: 1fr / 3fr 1fr;
    gap: 3rem;
    /* align-items: center; */
    margin: 0 auto;
    background-color: rgba(245, 245, 245, 0.555);

} 

article {
    padding: 0 5%;
    display: flex;
    flex-direction: column;
}

.image {
    width: 100%;
    padding: 4% 0;    
}

.image img {
    border-radius: 8px;
    width: 100%;
}

aside {
    margin: 4% 0;
    display: flex;
    /* justify-content: space-around; */
}

aside img{
    width: 100%;
    border-radius: 6px;
    border: 1px solid lightgray;
}

/* Tarjetas cursos */
.courses {
    display: flex;
    flex-direction: column;
    /* padding: 3%; */
    justify-content: flex-start;
    gap: 1%;
}

.courses div {
    width: 100%;
    text-align: center;    
    transition: all 0.5s;
    box-shadow: 0 3px 10px rgb(201, 200, 200);
    border-radius: 14px;
    padding: 2%;
}

.courses div:hover {
    transform: scale(1.02);
}

/*Boton de acción*/
.start-now_button {
    padding: 1%;
    background-color: rgba(189, 35, 35, 0.534);
    color: white;
    border: 1px solid rgb(185, 163, 163);
    border-radius: 6px;
    font-size: 1vw;
    cursor: pointer;
}
