body {
  font: normal 18px/1.5 "roboto font";
  background: rgb(245, 245, 245);
  color: rgb(27, 27, 50);
  padding: 25px 0;
}
h1,p{
  display: flex;
  justify-content: center;
  
}
.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
 
.container * {
  box-sizing: border-box;
}
 
.outer{
  list-style-type: none;
  padding: 0;
}
 
.outer {
  max-width: 800px;
  margin: 0 auto;
}
 
.outer li{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
 
.outer > li:not(:last-child) {
  margin-bottom: 20px;
}
 
.outer li label,
.outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}
 
.outer > li > label,
.outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}
 
.outer > li > label + *{
  flex: 1 0 220px;
}
 
.outer li p {
  margin: 0;
}
 
.outer li input:not([type='checkbox']),
.outer li textarea {
  padding: 15px;
  border: none;
}
#mapalargo,#direccion{
  background: rgba(154, 182, 241, 0.555);
  color: rgb(27, 27, 50);
  text-decoration: none;
  border-radius: 2px;
}
.mapa{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
 
.outer li button {
  margin-left: auto;
  padding: 8px 16px;
  border: none;
  background: rgba(154, 182, 241, 0.555);
  color: rgb(27, 27, 50);
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}
@media screen and (max-width:576px){
  .outer{
    width: 90vw;
  }
}

@media screen and (max-width:768px){
  .outer{
    width: 70vw;
  }
}
@media screen and (max-width:1200px){
    .outer{
      width: 60vw;
  }
}
  
  