html {
    box-sizing: border-box;
    background-color: rgba(245, 245, 245, 1);
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    max-width: 50%;
    padding: 4%;
}

nav {
    width: 100%;
    transition: all 1s;
    position: sticky;
    z-index: 1;
    padding: 0.1%;
    background-color: rgba(154, 182, 241, 0.555);
}

.main ul {
    display: flex;
    list-style: none;
    padding: 0;
}

ul a {
    text-decoration: none;
    color: rgb(71, 70, 70);
}

ul li {
    flex: 1;
    border-right: 0.1rem solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

ul li:last-child {
    border-right: 0;
}

.nav-logo {
    max-width: 0;
    max-height: 2vh;
    overflow: hidden;
    transition: all 0.5s;
}

.content {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s;
}

/* .content img {
    /* padding: 5%; 
} */

.courses {
    display: flex;
    flex-direction: column;
    padding: 5%;
    background-color:  rgba(245, 245, 245, 0.555);
}

.courses div {
    width: 100%;
    text-align: center;
}

.courses p {
    font-size: 1.2rem;
    color: rgb(70, 69, 69);
}

.images {
    display: flex;
    justify-content: space-between;
}

.images div {
    display: flex;
    width: 33%;
    flex-direction: column;
}

.images img {
    width: 100%;
    padding: 0;
    flex: 1 0 auto;
}

footer {
    text-align: center;
    background-color: rgba(154, 182, 241, 0.555);
    padding-bottom: 1rem;
}

footer p {
    margin: 0;
    padding-top: 1rem;
}

 .fixed-nav{
    top: 0;
    /* position: fixed; */
} 

.fixed-nav .nav-logo{
    max-width: 10%;
    background-image: url("imagenes/logoSVG.svg");
    background-size: cover;
}

@media screen and (max-width:820px) {
    .images {
        flex-wrap: wrap;
    }

    .images div {
        width: 100%;
    }
}