html {
    box-sizing: border-box;
    background-color: rgba(245, 245, 245, 1);
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    max-width: 50%;
    padding: 4%;
}

nav {
    width: 100%;
    transition: all 1s;
    position: sticky;
    z-index: 1;
    padding: 0.1%;
    background-color: rgba(201, 200, 200, 0.555);
}

.main ul {
    display: flex;
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: rgb(71, 70, 70);
}

ul li {
    flex: 1;
    border-right: 0.1rem solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

ul li:last-child {
    border-right: 0;
}

.nav-logo {
    max-width: 0;
    max-height: 2vh;
    overflow: hidden;
    transition: all 0.5s;
}

.content {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s;
    padding: 4vw;
}

img {
    border-radius: 8px;
}

.courses {
    display: flex;
    flex-direction: column;
    padding: 3%;
    background-color: rgba(245, 245, 245, 0.555);
}

.courses div {
    width: 100%;
    text-align: center;
}


.images {
    display: flex;
    justify-content: space-between;
    gap: 2vw;
    font-size: 2vw;
}

.images div {
    display: flex;
    width: 33%;
    flex-direction: column;
    border-radius: 14px;
    box-shadow: 0 3px 10px rgb(201, 200, 200);
    padding: 2%;
}

.images img {
    width: 100%;
    padding: 0;
    flex: 1 0 auto;
}

footer {
    display: flex;
    background-color: rgba(201, 200, 200, 0.555);
    padding-bottom: 1rem;
    padding: 0.5vw 2vw;
    border-radius: 6px;
    font-size: 1vw;
}

footer p {
    margin: 0;
    color: rgb(169, 170, 170);
}

.fixed-nav {
    top: 0;
}

.fixed-nav .nav-logo {
    max-width: 10%;
    background-image: url("imagenes/logoSVG.svg");
    background-size: cover;
}


#courses {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.dropdown {
    display: block;
    opacity: 0;
    position: absolute;
    right: 0;
    background-color: rgba(216, 216, 216, 0.6);
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    transition: all 1s;
    margin-top: 2vh;
    visibility: hidden;
}

.dropdown a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.hovered {
    opacity: 1;
    visibility: visible;
}

.site-map {
    display: flex;
    gap: 5vw;
    justify-content: center;
    margin-left: auto;
}

@media screen and (max-width:820px) {
    .images {
        flex-wrap: wrap;
        justify-content: center;
        font-size: 3vw;
    }

    .images div {
        width: 80%;
    }

    nav {
        font-size: 0.7rem;
    }

    .dropdown {
        margin-top: 1.5vh;
    }

    footer {
        font-size: 2vw;
    }
}

